Presentation/br.com.maplink.calculorota.console/Service References/CalculoRotaWcf/br.com.maplink.calculorota.common.wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/br.com.maplink.calculorota.common.wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/br.com.maplink.calculorota.common.wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WcfCalculoRotaFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WcfServiceFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WcfCalculoRotaFault" nillable="true" type="tns:WcfCalculoRotaFault" />
  <xs:complexType name="WcfServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfServiceFault" nillable="true" type="tns:WcfServiceFault" />
</xs:schema>